parameters:
    level: 4
    paths:
        - src
        - config
    ignoreErrors:
        -
            message: '#implements deprecated interface#'
            path: src/Rules/SocialLink.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true

